<apex:page standardController="Case" extensions="BugsandEnhancementsSearchContv3">  
  <apex:form >  
 <apex:outputText value="Enter the Case Number or the email of who opened the Case  "/>
 <apex:inputText value="{!searchstring}" label="Input"/>   
  <apex:commandButton value="Search" action="{!search}"/>  &nbsp;
  <apex:commandButton value="Clear Results" action="{!clear}"/> &nbsp;
  <apex:commandButton value="Create New Case" action="/BugandEnhancementNewCase"/>  
   <apex:pageBlock title="Search Result">  
    <apex:pageblockTable value="{!cs}" var="c">  
     <apex:column headerValue="Case Number">  
       <apex:outputlink value="BugandEnhancementExternalDetailv2?id={!c.id}">{!c.CaseNumber}</apex:outputlink>
     </apex:column>
     <apex:column headerValue="Case Type"> 
       <apex:outputText value="{!c.RecordType.Name}"/>
     </apex:column>
     <apex:column headerValue="Created Date"> 
       <apex:outputText value="{0,date,MM/dd/yyyy z}"> 
         <apex:param value="{!c.CreatedDate}" /> 
       </apex:outputText>
     </apex:column>
     <apex:column headerValue="Status"> 
       <apex:outputText value="{!c.Status}"/>
     </apex:column>
     <apex:column headerValue="Opened By Person's Email"> 
       <apex:outputText value="{!c.Opened_By_Person_s_Email__c}"/>
     </apex:column>
     <apex:column headerValue="JIRA Number"> 
       <apex:outputText value="{!c.JIRA_Link__c}"/>
     </apex:column>
     <apex:column headerValue="JIRA Assigned To"> 
       <apex:outputText value="{!c.JIRA_Assigned_To__c}"/>
     </apex:column>
     <apex:column headerValue="Subject"> 
       <apex:outputText value="{!c.Subject}"/>
     </apex:column>
    </apex:pageBlockTable>     
   </apex:pageBlock>   
  </apex:form>  
 </apex:page>