<apex:page controller="cancellationConfirmation" showHeader="false" standardStylesheets="false" sidebar="false" renderAs="pdf" > 


<html>

            <body>
                <table border="0" width="100%">
                    <tr>
                     <td align="left"><img src="{!LogoUrl}" height="80" width="60%"/> </td> 
                      <td align ="right"><apex:image url="{!$Resource.berryqr}" width="40%" height="50"/> </td>
                    </tr>
                </table>
                  <br/> 
<table width="100%">
<tr>
<!-- <td width="60%" align="left">DLTNGA14-1126875353 Y</td> -->
<td width="40%" align="right"></td>
</tr>
<tr>
<td width="60%" align="left" style="font-weight:bold;font-size:20px">Advertising Order - Detail</td>
<td width="40%" align="right"></td>
</tr>
<tr>
<td width="60%" align="left" height="20"></td>
<td width="40%" align="left">
<b>Sales Representative</b>
</td>
</tr>
<tr>
<td width="60%" align="left" height="20"></td>
<td width="40%" align="left">
{!caseObj1.owner.Name}
</td>
</tr>
<tr>
<td width="60%" align="left" height="20"></td>
<td width="40%" align="left">
{!Address}
</td>
</tr>
<tr>
<td width="60%" align="left" height="20"></td>
<td width="40%" align="left">
{!City} &nbsp;{!ZipCode}
</td>
</tr>
<tr>
<td width="60%" align="left" height="20"></td>
<td width="40%" align="left">
Phone:&nbsp;{!telePhone}
</td>
</tr>
<tr>
<td width="60%" align="left" height="20"></td>
<td width="40%" align="left">
Fax:&nbsp;{!Fax}
</td>
</tr>
</table>
<apex:outPutPanel rendered="{!IF(OliItemForDIgital.size>0,true,false)}">
<table width="100%">
<tr>
<td width="100%" align="left" height="10" colspan="2"> <hr/></td>
</tr>
<tr>
<td width ="100%" align="Center"> <b> INTERNET ADVERTISING </b> </td>
</tr>
<tr>
<td width="100%" align="left" height="10" colspan="2"> <hr/></td>
</tr>
</table>
<table width="100%">
<tr>
<td width="50%" align="left">
<!--<apex:outputText value="{!caseObj1.Order_sets__r}"/>-->
{!orderName}
</td>
</tr> <br/>
<tr>
<td width="50%" align="left">{!caseObj1.contact.Phone} <br/>
 {!caseObj1.contact.MailingStreet}
<br/>
 {!caseObj1.contact.MailingCity}
<br/>
 {!caseObj1.contact.MailingState}, {!caseObj1.contact.MailingPostalCode}<br/>
<br/>
</td>
</tr>
<table width="100%">
<tr>
<td colspan="2">
        <tr>
            <th width="20%"><apex:outputText value="Heading"/></th>
            <th width="5%"><apex:outputText value="Items"/></th>
            <th width="11%"><apex:outputText value="Description"/></th>
            <th width="11%"><apex:outputText value="Billing Term"/></th>
            <th width="11%"><apex:outputText value="Monthly Investment After Fulfillment"/></th>
            <th width="11%"><apex:outputText value="Directory"/></th>
            <th width="11%"><apex:outputText value="Directory Edition"/></th>
            <th width="11%"><apex:outputText value="Cancel Date"/></th>
        </tr>
   </td>
   </tr>
</table>
<table width="100%">
<tr>
<td colspan="2">
       
    <apex:repeat value="{!OliItemForDigital}" var="oli" id="theRepeatForDigital">
        <tr>
            <td width="20%"><apex:outputField value="{!oli.Directory_Heading__r.Name}" /></td>
            <td width="5%"><apex:outputField value="{!oli.ProductCode__c}"/></td>
            <td width="11%"><apex:outputField value="{!oli.Description__c}"/></td>
            <td width="11%"><apex:outputField value="{!oli.Billing_Frequency__c}"/></td>
            <td width="11%"><apex:outputField value="{!oli.UnitPrice__c}"/></td>
            <td width="11%"><apex:outputText value="{!oli.Directory__r.Name }" /></td>
            <td width="11%"><apex:outputText value="{!oli.Directory_Edition__r.Name }"/></td>
            <td width="11%"><apex:outputField value="{!oli.Cutomer_Cancel_Date__c}"/></td>
        </tr>                
    </apex:repeat>
</td>
</tr>
 </table>
</table>
</apex:outPutPanel>

<apex:outPutPanel rendered="{!IF(OliItemForPrint.size>0,true,false)}" >
<table width="100%">
<tr>
<td width="100%" align="left" height="10" colspan="2"> <hr/></td>
</tr>
<tr>
<td width ="100%" align="Center"> <b> PRINT ADVERTISING </b> </td>
</tr>
<tr>
<td width="100%" align="left" height="10" colspan="2"> <hr/></td>
</tr>
</table>
<table width="100%">
<tr>
<td width="50%" align="left">
<!--<apex:outputText value="{!caseObj1.Order_sets__r}"/>-->
{!orderName}
</td>
</tr> <br/>
<tr>
<td width="50%" align="left">{!caseObj1.contact.Phone} <br/>
 {!caseObj1.contact.MailingStreet}
<br/>
 {!caseObj1.contact.MailingCity}
<br/>
 {!caseObj1.contact.MailingState}, {!caseObj1.contact.MailingPostalCode}<br/>
<br/>
</td>
</tr>
<table width="100%">
<tr>
<td colspan="2">
        <tr>
            <th width="20%"><apex:outputText value="Heading"/></th>
            <th width="5%"><apex:outputText value="Items"/></th>
            <th width="11%"><apex:outputText value="Description"/></th>
            <th width="11%"><apex:outputText value="Billing Term"/></th>
            <th width="11%"><apex:outputText value="Monthly Investment After Fulfillment"/></th>
            <th width="11%"><apex:outputText value="Directory"/></th>
            <th width="11%"><apex:outputText value="Directory Edition"/></th>
            <th width="11%"><apex:outputText value="Cancel Date"/></th>
        </tr>
   </td>
   </tr>
</table>
<table width="100%">
<tr>
<td colspan="2">
       
    <apex:repeat value="{!OliItemForPrint}" var="oli" id="theRepeat">
        <tr>
            <td width="20%"><apex:outputField value="{!oli.Directory_Heading__r.Name}" /></td>
            <td width="5%"><apex:outputField value="{!oli.ProductCode__c}"/></td>
            <td width="11%"><apex:outputField value="{!oli.Description__c}"/></td>
            <td width="11%"><apex:outputField value="{!oli.Billing_Frequency__c}"/></td>
            <td width="11%"><apex:outputField value="{!oli.UnitPrice__c}"/></td>
            <td width="11%"><apex:outputText value="{!oli.Directory__r.Name }" /></td>
            <td width="11%"><apex:outputText value="{!oli.Directory_Edition__r.Name }"/></td>
            <td width="11%"><apex:outputField value="{!oli.Cutomer_Cancel_Date__c}"/></td>
            
        </tr>                
    </apex:repeat>
</td>
</tr>
 </table>
</table>
 </apex:outPutPanel>
 <div style="float:right;margin-top:50px">
<table>
<tr>
<td>
<b>Sales Representative</b>
</td>
</tr>
<tr>
<td>
{!caseObj1.owner.Name}
</td>
</tr>
<tr>
<td>
{!Address}
</td>
</tr>
<tr>
<td>
{!City}
</td>
</tr>
<tr>
<td>
{!ZipCode}
</td>
</tr>
<tr>
<td>
Phone:&nbsp;{!telePhone}
</td>
</tr>
<tr>
<td>
Fax:&nbsp;{!Fax}
</td>
</tr>
</table>
</div>
  </body>
 </html>
</apex:page>