<apex:page standardController="Digital_Product_Requirement__c" extensions="CreateTalusSubscriptionNewController" action="{!prpJSON}" title="Callout To Talus" sidebar="false" showHeader="false" standardStylesheets="true">
    <apex:form >

        <apex:pageblock >
            <apex:pageblockButtons location="top">
                <apex:commandButton value="Back to Summary" action="{!backToSummary}" />
                <apex:commandButton value="Return to DFF" action="{!rtnDff}" />
            </apex:pageblockButtons>
            <apex:pageBlockSection title="Fulfillment Submission" collapsible="false" columns="4">
            </apex:pageBlockSection>
            <apex:pageMessages >
            </apex:pageMessages>
        </apex:pageblock>

    </apex:form>
</apex:page>