<apex:page StandardController="Account" extensions="AccountManagement">
    <apex:form >
        <apex:pageBlock >
            <apex:pageMessages />
            <apex:pageBlockButtons >
               <!-- <apex:commandButton value="Save" action="{!saveAccount}" /> --> <!-- Commented for Ticket# 2108 -->
                <apex:commandButton value="Save & Create New Contact" action="{!saveAccountandCreateContact}"/>
                <apex:commandButton value="Cancel" action="{!cancelChildAccount}" immediate="true"/>
            </apex:pageBlockButtons>
          <apex:pageBlockSection title="Account Information">
              <apex:repeat value="{!accFields}" var="af">
                  <apex:inputField value="{!objChildAccount[af.fieldPath]}" required="{!OR(af.required, af.dbrequired)}"/>
              </apex:repeat>
          </apex:pageBlockSection>
      
          <apex:pageBlockSection title="Account Manager">
              <apex:repeat value="{!mgrFields}" var="mf">
                  <apex:inputField value="{!objChildAccount[mf.fieldPath]}" required="{!OR(mf.required, mf.dbrequired)}" />
              </apex:repeat>
          </apex:pageBlockSection>
          
          <apex:pageBlockSection title="Additional Information" columns="1">
              <apex:repeat value="{!addFields}" var="adf">
                  <apex:inputField value="{!objChildAccount[adf.fieldPath]}" required="{!OR(adf.required, adf.dbrequired)}" />
              </apex:repeat>
          </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>