<apex:page title="IPromote Audience"  controller="IpromoteStatesandCities_V1" action="{!onLoad}" showHeader="false" sidebar="false">
	<apex:includeScript value="{!URLFOR($Resource.jQuery, '/jQuery/jquery-1.8.2.min.js')}"  /> 
	<script>
        var $ = jQuery.noConflict();
        function FinishactionComplete() {
          var tempParam='{!$CurrentPage.parameters.dffId}';
          top.location=window.location.protocol + '//' + window.location.host+'/'+tempParam;
        }
    </script>
	<apex:form >
		<apex:pageBlock >
			<apex:pageBlockSection title="Select Audience Scope" collapsible="false">
				<apex:pageblocksectionItem >
                    <apex:outputtext value="Audience Scope"></apex:outputtext>
                    <apex:inputField value="{!objDFF.audience_scope__c}" >
                    	<apex:actionsupport event="onchange" action="{!changeAudienceScope}" rerender="pnlState,pbMain,myPanel1,pnlSearch"/>
                    </apex:inputField>
                </apex:pageblocksectionItem>
			</apex:pageBlockSection>
			<apex:pageBlockSection title="Search" id="pnlSearch" collapsible="false">
                <apex:pageblocksectionItem >
                    <apex:outputtext value="State"></apex:outputtext>
                    <apex:outputPanel id="pnlState">
	                    <apex:selectlist size="1" value="{!selectedState}">
	                    	<apex:actionsupport event="onchange" action="{!searchData}" rerender="pbMain"/>
	                        <apex:selectoption itemvalue="none" itemlabel="--None--"></apex:selectoption>
	                        <apex:selectOptions value="{!options}" />
	                    </apex:selectlist>
                    </apex:outputPanel>
                </apex:pageblocksectionItem>
                <apex:pageBlockSectionItem >
                        <apex:inputText value="{!userInputSearch}" id="cityNam" >
                        </apex:inputText>
                        <apex:commandButton value="Search" action="{!searchData}" rerender="pbMain"/>
            	</apex:pageBlockSectionItem>
            </apex:pageBlockSection>
       </apex:pageBlock>
       <apex:pageBlock id="pbMain">
       		<apex:pageBlockButtons >
                <apex:outputPanel id="myButtons">
                    <apex:commandButton action="{!addValues}" title="Add Values" value="Add Values" rerender="pbMain,myPanel1"  disabled="{!DisableAddButton}"/>
                    <apex:commandButton value="Previous" action="{!Previous}" rerender="pbMain" disabled="{!DisablePrevious}" />
                	<apex:commandButton value="Next" action="{!Next}" reRender="pbMain" disabled="{!DisableNext}" />
                </apex:outputPanel>
            </apex:pageBlockButtons>
            <apex:pageBlockSection title="Audience Targeting" collapsible="true" columns="1">
                <apex:outputPanel id="myPanel">
                    <apex:pageMessages id="theMessages" />
                    <apex:pageBlockTable value="{!lstIP}" var="ct" align="center">
                        <apex:column headerValue="Select">
                            <apex:inputCheckbox value="{!ct.Is_Checked__c}" id="checkedone"/>
                        </apex:column>
                        <apex:column headerValue="Targeting Name" value="{!ct.Targeting_Name__c}" />
                        <apex:column headerValue="External Name" value="{!ct.External_Name__c}" />
                    </apex:pageBlockTable>
                </apex:outputPanel>
            </apex:pageBlockSection>
       </apex:pageBlock>
       <apex:outputPanel >
       		<apex:pageMessage summary="Please click finish button to save added values on DFF before close the page." severity="info" strength="3" />
       </apex:outputPanel>
       <apex:pageBlock >       		
       		<apex:pageBlockButtons >
                    <apex:commandButton action="{!finish}" value="Finish" reRender="theMessages1"/>
                    <apex:commandButton value="Close" oncomplete="FinishactionComplete();"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection title="Selected Values" collapsible="true"  columns="1">            	
            	<apex:pageMessages id="theMessages1" />
                <apex:outputPanel id="myPanel1">                	
                    <apex:pageBlockTable value="{!lstIPSelected}" var="ct1" align="center">
                    	<apex:column headerValue="Action">
	                        <apex:commandlink action="{!removeSelected}" value="Del" reRender="myPanel1,myPanel">
	                            <apex:param value="{!ct1.id}" id="delId"  name="delId"/>
	                        </apex:commandlink>
	                    </apex:column>
                        <apex:column headerValue="Targeting Name" value="{!ct1.Targeting_Name__c}" />
                        <apex:column headerValue="External Name" value="{!ct1.External_Name__c}" />
                    </apex:pageBlockTable>
                </apex:outputPanel>
            </apex:pageBlockSection>
		</apex:pageBlock>
	</apex:form>
</apex:page>