<apex:page standardController="National_Staging_Order_Set__c" sidebar="false" extensions="natManInput">
    <apex:form >
    <apex:actionstatus id="counterStatus1">
                        <apex:facet name="start">
                            <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;
                                height:100%;opacity:0.65;width:100%;"> 
                                <div class="waitingHolder" style="width: 91px;">
                                    <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                                    <span class="waitingDescription">Loading...</span>
                                </div>
                            </div>
                        </apex:facet>
                    </apex:actionstatus>
        <apex:pagemessages id="pgMSG" />
        <apex:actionFunction name="afdirnum" action="{!fetchDirectoryByCode}" immediate="true" rerender="theGrid,pgMSG" status="counterStatus1" >
            <apex:param name="DirNum" assignTo="{!NatHdrObj.Directory_Number__c}" value=""/>
        </apex:actionFunction>
        <apex:actionFunction name="afdirver" action="{!fetchDEByLSANo}" immediate="true" rerender="theGrid,pgMSG" status="counterStatus1" >
            <apex:param name="DirENum" assignTo="{!NatHdrObj.Directory_Edition_Number__c}" value=""/>
        </apex:actionFunction>
        <apex:actionFunction Name="afcmrbynum" action="{!fetchCMRbyNumber}" immediate="true" rerender="theGrid,pgMSG" status="counterStatus1">
            <apex:param name="CmrNum" assignTo="{!NatHdrObj.CMR_Number__c}"  value=""/>
        </apex:actionFunction>
        <apex:actionFunction Name="clibynum" action="{!fetchClientbyNumber}" immediate="true" rerender="theGrid,pgMSG,pnlClientName" status="counterStatus1">
            <apex:param name="ClientNum" assignTo="{!NatHdrObj.Client_Number__c}"  value=""/>
        </apex:actionFunction>
        <apex:pageBlock title="National Manual Entry">
            <apex:pageBlockButtons >
                <apex:commandButton value="Save" action="{!save}" title="Save" status="counterStatus1"></apex:commandButton>
                <apex:commandButton value="Cancel" action="{!Cancel}" title="Cancel" immediate="true" status="counterStatus1"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection collapsible="false" title="Header Data" columns="1" >                
                <apex:panelGrid columns="8" id="theGrid" width="100%" border="0"  >
                    <apex:outputLabel styleClass="tdhead" value="Trans Code :" />
                    <apex:selectList value="{!NatHdrObj.TRANS_Code__c}" id="Trans" size="1" >
                        <apex:selectOptions value="{!transList}"/>                        
                    </apex:selectList>
                    <apex:outputLabel styleClass="tdhead" value="Trans Version :" />
                    <apex:inputField value="{! NatHdrObj.Transaction_Version__c}" id="transv" style="width: 70px;" />
                    <apex:outputLabel styleClass="tdhead" value="Trans ID :" />
                    <apex:inputField value="{! NatHdrObj.Transaction_ID__c}" id="TransID" />
                    <apex:outputLabel styleClass="tdhead" value="Date :" />
                    <apex:inputField value="{! NatHdrObj.Date__c}" id="thedate" required="True" />
                    <apex:outputLabel styleClass="tdhead" value="Ref Date :" />
                    <apex:inputField value="{! NatHdrObj.Reference_Date__c}" id="refdate" />
                    <apex:outputLabel styleClass="tdhead" value="To :" />
                    <apex:outputPanel >
                    <div class="requiredInput"><div class="requiredBlock"></div><apex:selectList value="{!NatHdrObj.To_Type__c}" id="to" size="1" required="True">
                        <apex:selectOptions value="{!toFromList}"/>                        
                    </apex:selectList></div>
                    </apex:outputPanel>                    
                    <apex:outputLabel styleClass="tdhead" value="To Code :" />
                    <apex:inputField value="{!NatHdrObj.To_Number__c}" id="toc" required="True" style="width: 50px;" />
                    <apex:outputLabel styleClass="tdhead" value="From :" />
                    <apex:outputPanel >
                    <div class="requiredInput"><div class="requiredBlock"></div><apex:selectList value="{!NatHdrObj.From_Type__c}" id="from" size="1" required="True" >
                        <apex:selectOptions value="{!toFromList}"/>                        
                    </apex:selectList></div>
                    </apex:outputPanel> 
                    <apex:outputLabel styleClass="tdhead" value="From Code :" />
                    <apex:inputField value="{!NatHdrObj.From_Number__c}" id="fromc" required="True" style="width: 50px;" />
                    <apex:outputLabel styleClass="tdhead" value="Directory Number :" />
                    <apex:inputField value="{!NatHdrObj.Directory_Number__c}" id="dirnum" onchange="afdirnum(this.value)" required="True" style="width: 50px;" />
                    <apex:outputLabel styleClass="tdhead" value="Directory Version :" />
                    <apex:inputField value="{!NatHdrObj.Directory_Edition_Number__c}" id="dirver" onchange="afdirver(this.value)" required="True" style="width: 50px;" />
                    <apex:outputLabel styleClass="tdhead" value="State :" />
                    <apex:outputField value="{!NatHdrObj.State__c}" id="state" />
                    <apex:outputLabel styleClass="tdhead" value="Directory Name :" />
                    <apex:outputField value="{!NatHdrObj.Directory__c}" id="dirname" />
                    <apex:outputLabel styleClass="tdhead" value="Pub Date :" />
                    <apex:OutputField value="{!NatHdrObj.Publication_Date__c}" id="pubdate" />
                    <apex:outputLabel styleClass="tdhead" value="CMR Number :" />
                    <apex:inputField value="{!NatHdrObj.CMR_Number__c}" id="cmrnum" onchange="afcmrbynum(this.value)" required="True" style="width: 50px;" />
                    <apex:outputLabel styleClass="tdhead" value="Client Number :" />
                    <apex:inputField value="{!NatHdrObj.Client_Number__c}" onchange="clibynum(this.value)"  id="clinum" required="True" style="width: 50px;" />                    
                    <apex:outputLabel styleClass="tdhead" value="Directory Edition :" />
                    <apex:OutputField value="{!NatHdrObj.Directory_Edition__c}" id="dired"/>
                    <apex:outputLabel styleClass="tdhead" value="Nat :" />
                    <apex:selectList value="{!NatHdrObj.NAT__c}" id="nat" size="1" required="True"  >
                        <apex:selectOptions value="{!natList}"/>                        
                    </apex:selectList>                    
                    <apex:outputLabel styleClass="tdhead" value="CMR Name :" />
                    <apex:outputField value="{!NatHdrObj.CMR_Name__c}" id="cmrname" />
                    <apex:outputLabel styleClass="tdhead" value="Client Name :" />
                    <apex:outputPanel id="pnlClientName">
                        <apex:outputPanel rendered="{!IF(NatHdrObj.Client_Name__c != Null ,true,false)}">
                            <apex:outputField value="{!NatHdrObj.Client_Name__c}" id="clinameout" />
                        </apex:outputPanel>
                        <apex:outputPanel rendered="{!IF(NatHdrObj.Client_Name__c != Null ,false,true)}">  
                            <apex:inputField value="{!NatHdrObj.Client_Name_Text__c}" id="clinamein" /> 
                        </apex:outputPanel>
                    </apex:outputPanel>
                </apex:panelGrid>
            </apex:pageBlockSection>
        </apex:pageBlock>        
        <apex:pageBlock >           
            <apex:pageBlockSection id="pbLine" columns="1">
                <apex:variable var="rowNum" value="{!0}"/>
                <apex:commandButton value="Add Line" action="{!addLineItems}" rerender="pbLine" immediate="true" status="counterStatus1"/>
                <apex:dataTable value="{!NatLinLstObj}" var="NatLin" id="linedataDT" rules="rows" width="100%" columns="8" >                    
                    <apex:column headerValue="Select" width="10%">
                        <apex:commandlink action="{!removeEntry}" value="Remove" reRender="pbLine" immediate="true" status="counterStatus1">
                            <apex:param name="index" value="{!rowNum}"/>
                        </apex:commandlink>
                        <apex:variable var="rowNum" value="{!rowNum + 1}" />
                    </apex:column>
                    <apex:column headerValue="Line1 #" width="10%">
                        <apex:inputField value="{!NatLin.Line_Number__c}" id="lineno" style="width: 50px;" required="true" />
                    </apex:column>
                    <apex:column headerValue="Action" width="10%">
                        <apex:inputField value="{!NatLin.Action__c}" id="action" />
                    </apex:column>
                    <apex:column id="prodcol" headerValue="Item/Product" width="15%">
                        <apex:inputField value="{!NatLin.UDAC__c}" id="udac" style="width: 70px;" />
                    </apex:column>
                    <apex:column headerValue="BAS" width="7%">
                        <apex:inputField value="{!NatLin.BAS__c}" id="bas" style="width: 50px;" />
                    </apex:column>
                    <apex:column headerValue="DAT" width="7%">
                        <apex:inputField value="{!NatLin.DAT__c}" id="dat" style="width: 50px;" />
                    </apex:column>
                    <apex:column headerValue="SPINS" width="7%">
                        <apex:inputField value="{!NatLin.SPINS__c}" id="spins" style="width: 50px;" />
                    </apex:column>
                    <apex:column headerValue="Advertising Data" width="34%">
                        <apex:inputField value="{!NatLin.Advertising_Data__c}" id="ad" style="width: 300px;" />
                    </apex:column>
                </apex:dataTable>
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>