<apex:page controller="SiteBalancePayController" showHeader="false" sidebar="false" cache="false" standardStylesheets="false">
<style>
.myC {
   color: rgb(102, 102, 102);
   font-family: Verdana,Geneva,Helvetica,sans-serif;
line-height: 1.125em;
font-size: 48px;
}

.berryLabel {
   color: rgb(102, 102, 102);
   font-family: Verdana,Geneva,Helvetica,sans-serif;
line-height: 1.125em;

}
.mytable {

text-align:right;
}

.mytable2 {

text-align:left;
}

</style>
<apex:composition template="{!$Site.Template}"> 
  <apex:define name="body">
<div class="pc_page_content_top"></div>
<div class="pc_page_content"  id="pc_ministore_page">
<div class="pc_page_content_inner">

<apex:form >
 
 
<br/>
<div class="myC">
<h1>Find My Account</h1>
</div>
<br/><br/>
     
<table width="75%" border = "0">
 <tr>
        <td style="padding:10px;" class="mytable">
       
            <apex:outputLabel styleClass="berryLabel" rendered="{!IF((acct == null), false, true)}" value="Account Name"/>
        </td>
        <td style="padding:10px;" class="mytable2">
            <apex:outputText styleClass="berryLabel" rendered="{!IF((acct == null), false, true)}" value="{!acct.Name}"/>
         </td>
    </tr>
    <tr >
        <td style="padding:10px;" class="mytable"><apex:outputLabel style="text-align:right;" styleClass="berryLabel" value="Account Number"></apex:outputLabel></td>
        <td style="padding:10px;" class="mytable2"><apex:inputText styleClass="berryLabel" rendered="{!IF((acct == null), true, false)}" value="{!accountNumber}"></apex:inputText>
        <apex:outputText styleClass="berryLabel" rendered="{!IF((acct == null), false, true)}" value="{!accountNumber}"></apex:outPutText></td>
    </tr>
    <tr>
        <td>
        </td>
        <td style="padding:10px;" class="mytable2">
           
            <apex:commandButton rendered="{!IF((acct == null), true, false)}" value="Find" action="{!searchBalance}"></apex:commandButton>
         </td>
    </tr>
    <tr>
        <td>  </td>
        <td  style="padding:10px;" class="mytable2">
        <apex:outputPanel id="createForm1">
            <apex:outputPanel styleClass="berryLabel"  rendered="{!IF(((acct == null) || (acct.contacts.size < 1) || (createContact = true)), false, true)}" >
                <apex:outputText value="Multiple contacts found. Please select a contact from the list" rendered="{!IF(( (acct.contacts.size < 1) || (createContact = true)), false, true)}" />
                <apex:outputText value="No contacts found. Please create a contact from the list" rendered="{!IF(( (acct.contacts.size < 1) || (createContact = true)), true, false)}" />
                <br/>click here:&nbsp;<br/><br/>               
            </apex:outputPanel>
            <apex:outputPanel rendered="{!IF((acct == null),false,true)}"> 
              <apex:selectList style="width:200px;" styleClass="berryLabel" value="{!contactId}"  size="1">
                  <apex:actionSupport event="onchange" action="{!createContact}"  reRender="createForm2,createForm1" />
                  <apex:selectOptions value="{!contactOptionList}"/>
              </apex:selectList>
            </apex:outputPanel>
        </apex:outputPanel> <!-- End CreateForm1 -->
            <apex:outputPanel id="createForm2" >
               <apex:pageMessages /> 
              <apex:outputPanel rendered="{!createContact}" >
                  <br></br>
                  <apex:panelGrid style="text-align:right;" border="0" columns="3" columnClasses="berryLabel,requiredFieldMarkerColumn,fieldColumn">
                      <apex:outputText styleClass="berryLabel" value="First Name"/>
                         <apex:image value="/s.gif" styleClass="requiredFieldMarker"/>
                      <apex:inputText value="{!contactfirstname}" />

                      <apex:outputText value="Last Name"/>
                         <apex:image value="/s.gif" styleClass="requiredFieldMarker"/>
                      <apex:inputText value="{!contactlastname}"/>

                      <apex:outputText value="Email"/>
                         <apex:image value="/s.gif"/>
                      <apex:inputText value="{!contactEmail}"/>

                      <apex:outputText value="Phone"/>
                         <apex:image value="/s.gif" styleClass="requiredFieldMarker"/>
                        
                      <apex:inputText value="{!contactPhone}"/> 
                   
                        <apex:outputlabel value=""/>
                        <apex:outputlabel value=""/>
                        <apex:outputPanel >
                              &nbsp;&nbsp;&nbsp;
                              <apex:commandLink action="{!cancelCreateContact}">Cancel</apex:commandLink>
                        </apex:outputPanel>
                  </apex:panelGrid>


              </apex:outputPanel>
            </apex:outputPanel>


        </td>
    </tr>
    <tr>
      <td></td>
    <td style="padding:10px;" class="mytable2" colspan="1">
        <apex:outputPanel styleClass="berryLabel" rendered = "{!IF((invoiceSum > 0), true, false)}">
            <div>
               <!--  <br/>The current Balance on your account is ${!invoiceSum}.<br/><br/> -->
                Please enter a payment amount in the field below.
                
            </div>
        </apex:outputPanel>
    </td>
  
    </tr>
    <tr>
        <td style="padding:10px;" class="mytable2">
        </td>
        <td style="padding:10px;" class="mytable2">
        <apex:inputText styleClass="berryLabel" value="{!payAmount}" rendered="{!IF((acct == null), false, true)}"></apex:inputText>&nbsp;&nbsp;
         <apex:commandButton rendered="{!IF((acct == null), false, true)}" value="Pay This Amount" action="{!payNow}"></apex:commandButton>
         
        </td>   
    </tr>
</table>
<br/>
<br/>
<br/>
<div class="berryLabel" style="font-size:13px;">
<!-- BerryPay now offers Auto-Payment for your invoices.
Contact us&nbsp;<apex:outputLink value="http://bdev0-berrycompany.cs11.force.com/requestaccess" id="theLink">here</apex:outputLink>&nbsp;for more information
 -->
 <p/>
<br/>
*Note:  One-Time Payments will be posted to your account and deducted from the balance within the next business day.
</div>
 </apex:form>
</div> 
</div>
</apex:define>
</apex:composition>

</apex:page>