<apex:page controller="strmCntrlr1">
<apex:stylesheet value="{!URLFOR($Resource.ExtJS, '/ExtJS/resources/css/ext-all-neptune.css')}" />
<apex:includeScript value="{!URLFOR($Resource.ExtJS, '/ExtJS/ext-all.js')}" />
<apex:includeScript value="{!$Resource.examples}"  />
<apex:includeScript value="{!URLFOR($Resource.deftjs, '/deft-debug.js')}" />
<apex:includeScript value="{!URLFOR($Resource.ExtJS, '/ExtJS/ext-theme-neptune.js')}" />
<!-- <apex:includeScript value="{!URLFOR($Resource.stormscripts, 'stormscripts/storm/app/view/MyViewport.js')}" /> -->
<!-- <apex:includeScript value="{!URLFOR($Resource.stormscripts2, 'stormscripts2/btn1.js')}"/> -->
<!-- <apex:includeScript value="{!URLFOR($Resource.stormextjs, 'stormextjs/app1/app1.js')}"/> -->
<apex:includeScript value="{!$Resource.three}"  />
<apex:includeScript value="{!$Resource.Detector}"  />
<apex:includeScript value="{!$Resource.THREEx}"  />
<apex:form >
    <div id="gridSpace"></div>
</apex:form>

<script type="text/javascript" >
   
// ... classes ... //
 Ext.Loader.setConfig({
        enabled: true,
        paths: {   // The mapping from namespaces to file path
            "StormDeft": "app"
        }
    });
    
 Ext.syncRequire(["Ext.Component", "Ext.ComponentManager", "Ext.ComponentQuery"]);
/* .................... APPCONFIG ......................... */
    
Ext.define("StormDeft.config.AppConfig", {
  statics: {
    MOCK_DATA_ENV: "MOCK_DATA_ENV",
    PRODUCTION_ENV: "PRODUCTION_ENV"
  },
  config: {
    environment: null,
    MOCK_DATA_ENV: {
      endpoints: {
        l1: {
          proxyId: "s1"
        },
        l2: {
          proxyId: "s2"
        }
      },
      defaults: {
        urlPrefix: "data/",
        urlSuffix: ".json",
        dataRoot: ""
      }
    },
    PRODUCTION_ENV: {
      endpoints: {
        l3: {
          proxyId: "s3"
        },
        l4: {
          proxyId: "s4"
        }
      },
      defaults: {
        urlPrefix: "/",
        urlSuffix: ".json",
        dataRoot: ""
      }
    }
  },

  constructor: function(cfg) {
    if ((cfg != null ? cfg.environment : void 0) && (StormDeft.config.AppConfig[cfg.environment] != null)) {
      return this.setEnvironment(StormDeft.config.AppConfig[cfg.environment]);
    } else {
      return this.setEnvironment(StormDeft.config.AppConfig.PRODUCTION_ENV);
    }
  },

  getEndpoint: function(endpointName) {
    var defaults, endpoints, environmentConfig, result, _ref, _ref1;
    environmentConfig = this[this.getEnvironment()];
    endpoints = environmentConfig.endpoints;
    defaults = environmentConfig.defaults;
    if (endpoints != null ? endpoints[endpointName] : void 0) {
      result = endpoints[endpointName];
      result.root = (_ref = (_ref1 = endpoints[endpointName]) != null ? _ref1.root : void 0) != null ? _ref : defaults.dataRoot;
    } else {
      result = {
        url: defaults.urlPrefix + endpointName + defaults.urlSuffix,
        root: defaults.dataRoot
      };
    }
    return result;
  }
});

/* .................... END APPCONFIG ......................... */
        
/* .................... APPLICATION ......................... */

Ext.define("StormDeft.Application", {
    extend: "Deft.mvc.Application",
    requires: ["StormDeft.config.AppConfig", "StormDeft.service.DashService", "StormDeft.model.AccountModel", "StormDeft.store.DshFrmStore",
              	"StormDeft.view.DshFrame", "StormDeft.view.DashPanel2", "StormDeft.view.stormgrid1", "StormDeft.store.DashFrameStore2"
              ],
    /*models: [
        'StormDeft.model.AccountModel'
    ],
    stores: [
        'StormDeft.store.DshFrmStore'
    ],
    views: [
        'StormDeft.view.DshFrame',
        'StormDeft.view.DashPanel2',
        'StormDeft.view.stormgrid1'
    ],*/
    init: function() {
        this.beforeInit();
		Deft.Injector.configure(this.buildInjectorConfiguration());
        Deft.promise.Deferred.enableLogging = false;
        return this.afterInit();
        // Set up QuickTips and create the Viewport
        //Ext.tip.QuickTipManager.init();

        //var dshRgns = getDshRgns();

        //Ext.create('StormDeft.view.DshFrame', {renderTo: Ext.getBody()});
        //Ext.create('StormDeft.view.dshFrame', {renderTo: Ext.getBody()});
        //Ext.create('StormDeft.view.TestPanel');
    },

    buildInjectorConfiguration: function() {
        var config;
        config = {
            appConfig: {
                className: "StormDeft.config.AppConfig",
                parameters: [
                    {
                        environment: StormDeft.config.AppConfig.PRODUCTION_ENV
                    }
                ]
            },
            dshFrmStore: "StormDeft.store.DshFrmStore",
            dashService: "StormDeft.service.DashService",
            dashFrameStore2: "StormDeft.store.DashFrameStore2"
        };
    },

    beforeInit: function() {
    	var dshRgns = getDshRgns();
    },

    afterInit: function() {
        Ext.tip.QuickTipManager.init();
        return Ext.create('StormDeft.view.DshFrame', {renderTo: Ext.getBody()});
    }


});

/* .................... END APPLICATION ......................... */


/* .................... SERVICE ......................... */

Ext.define("StormDeft.service.DashService", {
  inject: ["dshFrmStore"], //
  config: {
    dshFrmStore: null
  },
  constructor: function(config) {
    if (config == null) {
      config = {};
    }
    this.initConfig(config);
    return this.callParent(arguments);
  },
  
  loadInitData: function() {
        return Deft.Chain.parallel([this.loadDshData] ,this);
    },
    
  loadDshData: function() {
        console.log('loadDshData');
        var deferred;
        deferred = Ext.create("Deft.promise.Deferred");
        console.log('deferred: ', deferred);
        this.getDshFrmStore().load({
            callback: function(records, operation, success) {
                console.log('callback.getDshFrmStore');
                if (success) {
                    return deferred.resolve();
                } else {
                    return deferred.reject("Error loading getDshFrmStore");
                }
            },
            scope: this
        });
        return deferred.promise;
    }
    
});
    
/* .................... END SERVICE ......................... */

    
/* .................... CONTROLLERS ......................... */
    
    /* --- define MainController --- */
    Ext.define("StormDeft.controller.MainController", {
    extend: "Deft.mvc.ViewController",
    /*config: {
     refs: [{
     ref: 'mypanel',
     selector: 'mypanel'}
     ]
     },*/
    control: {
        myButton: {
            click: "onClickMyButton"
        }
    },
    init: function() {
        console.log('MainController_init');

        return this.callParent(arguments);
    },

    onClickMyButton: function(button) {
        var owningPanel = button.up('panel');
        console.log('owningPanel: ', owningPanel);
    }
}); // end --- define MainController

/* .................... END CONTROLLERS ......................... */
    
/* .................... MODELS ......................... */
    
    /* --- define User--- */
    Ext.define('StormDeft.model.User', {
    extend: 'Ext.data.Model',
    fields: [
        {name: 'id',    type: 'int'},
        {name: 'name',  type: 'string'},
        {name: 'phone', type: 'string', mapping: 'phoneNumber'}
    ]
});

    /* --- define DshFrmMdl--- */
    Ext.define('StormDeft.model.DshFrmMdl', {
        extend  : 'Ext.data.Model',
        idProperty: 'MdlDshFrm',
        fields: [{name: 'Items', mapping: 'items'}]
    }); // end --- define DshFrmMdl
    
    /* --- define AccountModel --- */
    Ext.define('StormDeft.model.AccountModel', {
        extend  : 'Ext.data.Model',
        fields  : [
            {name: 'Id', type: 'string'},
            {name: 'Name', type: 'string'},
            {name: 'Phone', type: 'string'},
            {name: 'Type', type: 'string'}
        ]
    }); // end --- define AccountModel

    /* .................... END MODELS ......................... */
    
    /* .................... STORES ......................... */

    /* --- define DashFrameStore2 --- */    
   Ext.define('StormDeft.store.DashFrameStore2', {
    extend: 'Ext.data.Store',

    requires: [
        'StormDeft.model.User',
        'Ext.data.proxy.Memory',
        'Ext.data.reader.Json'
    ],

    autoLoad: false,
    data1: {
        users: [
            {
                id: 1,
                name: 'Ed Spencer',
                phoneNumber: '555 1234'
            },
            {
                id: 2,
                name: 'Abe Elias',
                phoneNumber: '666 1234'
            }
        ]
    },

    data: this.data1,

    constructor: function(cfg) {
        var me = this;
        console.log('data1: ', this.data1);
        cfg = cfg || {};
        me.callParent([Ext.apply({
            model: 'StormDeft.model.User',
            storeId: 'MyJsonStore',
            proxy: {
                type: 'memory',
                reader: {
                    type: 'json'
                }
            },
            listeners: {
                load: {
                    fn: me.onJsonstoreLoad,
                    scope: me
                },
                beforeLoad: {
                    fn: me.onJsonstoreBeforeLoad,
                    scope: me
                }
            }
        }, cfg)]);
    },

    onJsonstoreLoad: function(store, records, successful, eOpts) {
        console.log("onJsonstoreLoad");

    },

    onJsonstoreBeforeLoad: function(store, operation, eOpts) {
        console.log("onJsonstoreBeforeLoad");
    }

   }); // end --- define DashFrameStore2

    /* --- define DshFrmStore --- */
    Ext.define('StormDeft.store.DshFrmStore', {
    	extend: 'Ext.data.Store',
        autoLoad: false, // needed on Memory store?
        requires: [
            'StormDeft.model.DshFrmMdl',
            'Ext.data.proxy.Direct',
        	'Ext.data.reader.Json'
        ],

        constructor: function(cfg) {
            var me = this;
            
            var myDirectfn = function(opts, fn, proxy) {
    			var start = opts.start,
        		end = opts.page * opts.limit,
        		data = [];
    			strmCntrlr1.getAllAccounts(function(result, er){
    				var res = Ext.decode(result);
    				data = res.Records;
				}, {escape:false});
                console.log('store function');
    			data.total = data.length;
    			fn(0, {
        			status: true,
        			result: data
    			});
            };
			myDirectfn.directCfg = {
    			method: {}
            };
            
            cfg = cfg || {};
            me.callParent([Ext.apply({
                model: 'StormDeft.model.AccountModel',
                storeId: 'DshFrmStore',
                proxy: {
                    type: 'direct',
                    directFn: myDirectfn,
                    reader: {
                        type: 'json',
                        //root: 'items',
                        successProperty: 'success' // Name of the property from which to retrieve the success attribute, the value of which indicates whether a given request succeeded or failed (typically a boolean or 'true'|'false').
                    }
                },
                listeners: {
                    load: {
                        fn: me.onDshFrmStorLoad,
                        scope: me
                    },
                	beforeload: {
                    	fn: me.onDshFrmStoreBeforeLoad,
                    	scope: me
                }
                }
            }, cfg)]);
        },
    
        
      
        
        onDshFrmStoreLoad: function(store, records, successful, eOpts) {
    		console.log('onDshFrmStrLoad');
        },
        onDshFrmStoreBeforeLoad: function(store, records, successful, eOpts) {
    		console.log('onDshFrmStoreBeforeLoad');
        }
    
    }); // End --- define DshFrmStr
    
    /* --- define Store1 --- */
    Ext.define('StormDeft.store.Store1', {
    	extend: 'Ext.data.Store',

        requires: [
            'StormDeft.model.AccountModel',
            'Ext.data.proxy.Memory',
            'Ext.data.reader.Json'
        ],

        constructor: function(cfg) {
            var me = this;
            cfg = cfg || {};
            me.callParent([Ext.apply({
                model: 'StormDeft.model.AccountModel',
                storeId: 'Store1',
                proxy: {
                    type: 'memory',
                    reader: {
                        type: 'json'
                    }
                },
                listeners: {
                    load: {
                        fn: me.onJsonstoreLoad,
                        scope: me
                    }
                }
            }, cfg)]);
        },
    
        onJsonstoreLoad: function(store, records, successful, eOpts) {
    
        }
    
    }); // End --- define Store1

	/* .................... END STORES ......................... */

    /* .................... VIEWS ......................... */

    /* --- define DshFrame --- */
    Ext.define('StormDeft.view.DshFrame', {
        extend: 'Ext.container.Container',
        alias: 'widget.dshFrame',
        requires: ["StormDeft.view.DashPanel2"],
        width: 1100,
        height: 700,
        resizable: true,
        //renderTo: document.getElementById("gridSpace"),
        layout: {
            type: 'border',
            padding: 5
        },
        defaults: {
            split: true
        },
        items: [{
            id: 'app-header',
            xtype: 'box',
            region: 'north',
            style: {borderColor:'#FFFFFF', borderStyle:'solid', borderWidth:'2px'},
            height: 40,
            html: 'Dashboard Header'
        },{
            // center container holds dash
            xtype: 'container',
            region: 'center',
            layout: 'border',
            items: [{
                // tools sidebar for creating/editing dashTabs
                id: 'app-options',
                title: 'Options',
                region: 'west',
                //style: {borderColor:'#FF00FF', borderStyle:'solid', borderWidth:'3px'},
                animCollapse: true,
                width: 200,
                minWidth: 150,
                maxWidth: 400,
                split: true,
                collapsible: true,
                layout:{
                    type: 'accordion',
                    animate: true
                },
                items: [{
                    html: 'tools',
                    title:'Navigation',
                    autoScroll: true,
                    border: false,
                    iconCls: 'nav'
                },{
                    title:'Settings',
                    html: 'tools',
                    border: false,
                    autoScroll: true,
                    iconCls: 'settings'
                }]
            }, // end tools sidebar
                {
                    // center container to right of tools sidebar for dashboards
                    id: 'app-portal',
                    xtype: 'container',
                    region: 'center',
                    layout: 'fit',
                    items: [{
                        xtype: 'RegionPanel'
                    }]
                }
            ]} // end center dash container items
        ] // items
}); // end --- define DshFrame

    /* --- define stormgrid1--- */
    Ext.define('StormDeft.view.stormgrid1', {
        extend: 'Ext.grid.Panel',
        //requires: ['panelsidetools'],
        alias: 'widget.stormgrid1',
        title: 'All Accounts Grid1',
        hideHeaders: false,
        name: 'stormpanel',
        flex: 1,
        columnLines : true,
        singleSelect: true,
        selType: 'cellmodel',
        border: true,
        //height: 400,
        //width: 600,
        tools: [
            {
                xtype: 'tool',
                type: 'gear'
            }
        ],
        //store: Store1,
        columns: [
            {
                text: 'Id',
                dataIndex: 'Id',
                flex: 0.3
            },
            {
                text: 'Account Name',
                dataIndex: 'Name',
                flex: 0.3
            },
            {
                text: 'Account Type',
                dataIndex: 'Type',
                flex: 0.3
            },
            {
                text: 'Phone',
                dataIndex: 'Phone',
                flex: 0.3
            }
        ],


        initComponent: function() {
            var me = this;
            console.log('stormgrid1');
            Ext.applyIf(me, {
                //console.log('applyIfStrmGrd');
            });

            me.callParent(arguments);
        }

    }); // end --- define stormgrid    

    /* --- define TestPanel--- */
    Ext.define('StormDeft.view.TestPanel', {
        extend: 'Ext.panel.Panel',
        requires: [ "StormDeft.controller.MainController" ],
        controller: "StormDeft.controller.MainController",
        alias: 'widget.testPanel',
        //floating: true,
        height: 250,
        width: 400,
        title: 'My Panel12',
        items: [{
            xtype: "button",
            alias: 'widget.myButton',
            itemId: "myButton",
            text: "Click Me"
        }],

        initComponent: function() {
            var me = this;
    
            me.callParent(arguments);
        }

    }); // end --- define TestPanel
    
	/* --- define RegionPanel--- */
    Ext.define('StormDeft.view.RegionPanel', {
    	extend: 'Ext.panel.Panel',
        alias: 'widget.RegionPanel',
        inject: ['dashFrameStore2'],
        config: {
          dashFrameStore2: null
        },
        width: 1100,
        height: 750,
        resizable: true,
        //floating: true,
        height: 250,
        width: 400,
        title: 'RegionPanel2',
        layout: {
          type: 'border'
          //padding: 5
        },
        defaults: {
          split: true
          },
        items: getDshRgns(),
    
        initComponent: function() {
            var me = this;
    
            me.callParent(arguments);
        }

	}); // end --- define RegionPanel    

	// holds region items - should be container????
	/* --- define DashPanel2--- */
    Ext.define('StormDeft.view.DashPanel2', {
        extends: 'Ext.panel.Panel',
        alias: 'widget.dashPanel2',
          //width: 1100,
          //height: 750,
          //resizable: true,
        //renderTo: document.getElementById("gridSpace"),
        layout: {
          type: 'fit'
          //padding: 5
        }//,
          //defaults: {
          //split: true
          //}//,
        // region items
          //items: dshRgns

   }); // end --- define DashPanel2   

    


function getDshRgns () {
    var newRegions = [ {
        region: 'north',
        xtype: 'rgnPnl',
        collapsible: true,
        title: 'North',
        split: true,
        height: 100,
        minHeight: 60,
        html: 'north'
    },
        {
            region: 'center',
            xtype: 'rgnPnl',
            layout: 'fit',
            html: 'centerA1a centerB2b',
            title: 'CenterRegion',
            minHeight: 80,
            items: [{
                xtype: 'stormgrid1'
            }],
            tools: [
                { type:'pin' },
                { type:'refresh' },
                { type:'search' },
                { type:'save' }
            ],
            dockedItems: [{
                xtype: 'toolbar',
                dock: 'bottom',
                border: 5,
                margin  : '5 0 0 0',
                style: {
                    borderColor: 'green',
                    borderStyle: 'solid'
                },
                tools: [{
                    type: 'help'
                }, {
                    itemId: 'refresh'
                }, {
                    type: 'search'
                }],
                items: [
                    { xtype: 'button', text: 'Button 1a' },
                    { xtype: 'button', text: 'Button 1b' },
                    { xtype: 'button', text: 'Button 1c' },
                    {
                        itemId: 'toggleCw',
                        text: 'Constrained Window',
                        enableToggle: true,
                        toggleHandler: function() {
                            cw.setVisible(!cw.isVisible());
                        }
                    }
                ]
            }]
        },
        {
            region: 'east',
            xtype: 'rgnPnl',
            collapsible: true,
            floatable: true,
            split: true,
            width: 200,
            minWidth: 120,
            minHeight: 140,
            title: 'East',
            layout: {
                type: 'vbox',
                padding: 5,
                align: 'stretch'
            },
            items: [{
                xtype: 'textfield',
                labelWidth: 70,
                fieldLabel: 'Text field'
            }, {
                xtype: 'component',
                html: 'I am floatable'
            }]
        }]
	console.log('regions: ', newRegions);
    return newRegions;
};





Ext.onReady(function(){
    console.log('this1: ', this, Ext.getVersion() );
    console.log('Ext_onReady from app1a.js');

    j$ = jQuery.noConflict();
    j$(document).ready(function() {
        console.log('Document ready from app1a.jQuery!');
    });

   

// Create DeftJS Application
//Synchronously loads all classes by the given names and all their direct dependencies; optionally
// executes the given callback function when finishes, within the optional scope.
   
    Ext.create("StormDeft.Application");
    
    /*strmCntrlr1.getAllAccounts(function(result, er){
    var res = Ext.decode(result);
    Store1.loadData(res.Records);
}, {escape:false});*/

}); // end onReady

</script>
</apex:page>