<apex:page controller="SuppressingScopedListingsController" >
    <apex:pagemessages ></apex:pagemessages>
    <apex:form >
    	<apex:pageBlock title="Suppress/Unsuppress">
	    	<apex:commandButton value="Suppressing Scoped Listings"  action="{!RunBatch}"/>
	    	<apex:commandButton value="UnSuppress Scoped Listings"  action="{!RunUnsuppressBatch}"/>
    	</apex:pageBlock>
    </apex:form>
</apex:page>