<apex:page standardController="Account" sidebar="false" extensions="TBCcBillingTransferController">
    <apex:form id="frm">
           <apex:actionFunction id="fncname" action="{!checkBundle}" name="CheckBundle" reRender="pbFirst" status="counterStatus">
            <apex:param name="oliId" value="" assignTo="{!OLIIdforcheck}" />
            <apex:param name="OldValue" value="" assignTo="{!CheckBool}" /> 
       </apex:actionFunction>
        <apex:pageMessages id="pmCommon" />
        <apex:outputPanel id="mainPanel">
        <apex:actionstatus id="counterStatus">  
                <apex:facet name="start">
                    <div class="waitingSearchDiv" id="el_loading" style="background-color: #fbfbfb;
                        height:100%;opacity:0.65;width:100%;"> 
                        <div class="waitingHolder" style="width: 91px;">
                            <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                            <span class="waitingDescription">Loading...</span>
                        </div>
                    </div>
               </apex:facet>
         </apex:actionstatus>
            <apex:pageBlock id="pbFirst">
                <apex:pageBlockButtons location="top">
                    <apex:commandButton value="Back to Account" action="{!Done}"/>
                    <apex:commandButton value="Start Over" action="{!startOver}"/>
                </apex:pageBlockButtons>
                <apex:pageBlockSection columns="2" title="Filter" collapsible="false">
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel value="Payment Method" />
                        <apex:actionRegion >
                        <apex:selectList id="PaymentMethodid" value="{!selectedPaymentForFilter}" size="1">
                            <apex:selectOptions value="{!paymentMethodPickListForFilter}"/>
                            <apex:actionSupport event="onchange" action="{!loadOrderLineItemsByPaymentMethod}" status="counterStatus" reRender="frm,pbFirst,OLITable"/>
                        </apex:selectList>
                        </apex:actionRegion>
                    </apex:pageBlockSectionItem>
                </apex:pageBlockSection>
                <apex:pageBlockSection columns="1" title="List of OLI's by OrderSet" collapsible="false">
                    <apex:repeat value="{!OliWrapperList}" var="pWrapper">
                    <div style="background-color:#8a9ebe;height:25px;margin-top:6px;">
                        <div style="padding-top: 5px;margin-left: 6px;">
                            <h1 style="font-weight:bold;font-style:italic;color:white"> {!pWrapper.DECanvassName}</h1>
                        </div>
                    </div>
                    <apex:variable value="{!0}" var="GrossTotal"/>
                    <apex:pageBlockTable value="{!pWrapper.lstOLI}" var="sWrapper">
                        <apex:column headerValue="Select">
                            &nbsp;&nbsp;
                            <apex:inputCheckbox id="cccheckbox" value="{!sWrapper.isChecked}" onchange="CheckBundle('{!sWrapper.oli.id}',this.checked)"/>
                        </apex:column>
                        <apex:column headerValue="Product Name" value="{!sWrapper.oli.ProductCode__c}" />
                        <apex:column headerValue="Item Number" >
                        <apex:outputText rendered="{!If(sWrapper.oli.BillingTransfer_OLI_Histories__r.size>0,true,false)}" escape="false">
                          <a href="/{!sWrapper.oli.BillingTransfer_OLI_Histories__r[0].id}" target="_BLANK">{!sWrapper.oli.name}</a>
                        </apex:outputText>
                        <apex:outputtext escape="false" value="{!sWrapper.oli.name}" rendered="{!If(sWrapper.oli.BillingTransfer_OLI_Histories__r.size>0,false,true)}"/>
                        </apex:column>
                        <apex:column headerValue="Is P4P" value="{!sWrapper.oli.Is_P4P__c}" />
                        <apex:column headerValue="Last Transfer Date" >
                                <apex:outputText value="{0,date,MM'/'dd'/'yyyy}" rendered="{!If(sWrapper.oli.BillingTransfer_OLI_Histories__r.size>0,true,false)}" escape="false">
                                    <apex:param value="{!sWrapper.oli.BillingTransfer_OLI_Histories__r[0].createddate}"/> 
                                </apex:outputText>
                        <apex:outputtext escape="false" value="NA" rendered="{!If(sWrapper.oli.BillingTransfer_OLI_Histories__r.size>0,false,true)}">
                        </apex:outputtext>
                        </apex:column>
                        <apex:column headerValue="Transfer Today" >
                            <apex:outputText rendered="{!If(sWrapper.oli.BillingTransfer_OLI_Histories__r.size>0,true,false)}" escape="false">
                                <apex:outputText rendered="{!If(DATEVALUE(sWrapper.oli.BillingTransfer_OLI_Histories__r[0].createddate)=TODAY(),true,false)}" escape="false">
                                    <apex:image url="{!URLFOR($Resource.Billing_Transfer,'/Billing_Transfer/img/yes.jpg')}" width="20" height="20"/>
                                </apex:outputText>
                                <apex:outputText rendered="{!If(DATEVALUE(sWrapper.oli.BillingTransfer_OLI_Histories__r[0].createddate)=TODAY(),false,true)}" escape="false">
                                    <apex:image url="{!URLFOR($Resource.Billing_Transfer,'/Billing_Transfer/img/cancel.png')}" width="16" height="16"/> 
                                </apex:outputText>                              
                            </apex:outputText>
                        <apex:outputtext escape="false"  rendered="{!If(sWrapper.oli.BillingTransfer_OLI_Histories__r.size>0,false,true)}">
                        <apex:image url="{!URLFOR($Resource.Billing_Transfer,'/Billing_Transfer/img/cancel.png')}" width="16" height="16"/> 
                        </apex:outputtext>
                        <apex:variable value="{!GrossTotal+sWrapper.oli.UnitPrice__c}" var="GrossTotal"/>   
                        </apex:column>                                                                        
                        <apex:column headerValue="Go Live Date" value="{!sWrapper.oli.Talus_Go_Live_Date__c}"/>
                        <apex:column headerValue="Bundle Indicator" value="{!sWrapper.oli.Package_ID_External__c}" />
                        <apex:column headerValue="Original Package ID" value="{!sWrapper.oli.OLI_Original_Package_ID_External__c}" />
                        <apex:column headerValue="Heading" value="{!sWrapper.oli.Directory_Heading__r.name}" />
                        <apex:column headerValue="Status" value="{!sWrapper.oli.Status__c}" />
                        <apex:column headerValue="Billing Partner" value="{!sWrapper.oli.Billing_Partner__c}" />
                        <apex:column headerValue="Payment Method" value="{!sWrapper.oli.Payment_Method__c}" />
                        <apex:column headerValue="Bill Frequency" value="{!sWrapper.oli.Billing_Frequency__c }" />
                        <apex:column headerValue="Product Amount" value="{!sWrapper.oli.UnitPrice__c}" />
                    </apex:pageBlockTable>
                    <apex:outputPanel layout="block" style="float:right;padding-right:30px;"><apex:outputText style="font-style:normal;font-weight:bold" value="Total OLI : ${!GrossTotal}"></apex:outputText></apex:outputPanel>
                    </apex:repeat>
                </apex:pageBlockSection>
                <apex:pageBlockSection columns="2" title="Billing Partner/Payment Method Transfer" collapsible="false" rendered="{!paymentMethodsel}">
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel value="Reason For Transfer" />
                        <apex:selectList id="sltReasonForTransfer" value="{!selectedReasonForTransfer}" size="1">
                            <apex:selectOptions value="{!reasonForTransferList}"/>
                        </apex:selectList>
                    </apex:pageBlockSectionItem>
                        <apex:pageBlockSectionItem >
                            <apex:outputLabel value="Transfer to Account" />
                            <apex:actionRegion >
                                <apex:selectList value="{!selectedAccountID}" size="1">
                                    <apex:actionSupport event="onchange" action="{!loadContactPickList}" rerender="contactsection"/>
                                    <apex:selectOptions value="{!accountPickList}"/>
                                </apex:selectList>
                            </apex:actionRegion>
                        </apex:pageBlockSectionItem>
                        <apex:pageBlockSectionItem id="pbsContact">
                            <apex:outputLabel value="Billing Contact" />
                            <apex:outputPanel id="contactsection">
                            <apex:selectList id="sltContact" value="{!selectedContactID}" size="1">
                                <apex:selectOptions value="{!contactPickList}"/>
                            </apex:selectList>
                            </apex:outputPanel>
                        </apex:pageBlockSectionItem>
                        <apex:pageBlockSectionItem >
                        </apex:pageBlockSectionItem>
                     
                </apex:pageBlockSection>
                      <apex:pageMessage detail="This action will update Reason for Transfer and Billing Contact Information on Order Line Items" rendered="{!if(AND(isOnlyOLI,paymentMethodsel),true,false)}" strength="3" severity="INFO"></apex:pageMessage> <br/>
                     <apex:commandButton value="Next >> " id="nextbutton" action="{!ValidateAndRedirecttoThirdScreenNew}" rendered="{!if(AND(NOT(isOnlyOLI),paymentMethodsel),true,false)}"/> 
                     <apex:commandButton value="Update OLI" action="{!updateOrderLineItems}" rendered="{!if(AND(isOnlyOLI,paymentMethodsel),true,false)}"/> 
            </apex:pageBlock>
        </apex:outputPanel> 
    </apex:form>
</apex:page>