<apex:page Standardcontroller="Directory__c"   extensions="vertex_NationalRateCardController_v3" readOnly="true"  contentType="{!contentTypeName}" sidebar="false" standardStylesheets="false" showHeader="false"  cache="true"  expires="0">
  

  
    <apex:outputText value="{!strLablevaluesExport}" rendered="{!ExportCSV}"/>  
    <apex:outputText value="{!strFieldValuesExport}" rendered="{!ExportCSV}"/> 
  
     <apex:pageBlock id="pbId" rendered="{!!ExportCSV}">
     <table boarder="1">
      <tr><td></td>
      </tr>
      <tr>
      <td></td>
      <td><apex:outputtext style="font-size:130%;font-weight:bold" value="Directory Name:"/>  </td>
      <td><apex:outputtext style="font-size:130%;font-weight:bold" value="{!strdirectoryName}"/> </td>
      </tr>
      <tr>
      <td></td>
      <td> <apex:outputtext style="font-size:130%;font-weight:bold" value=" Directory Code:"/>   </td>             
      <td> <apex:outputtext style="font-size:130%;font-weight:bold" value="&nbsp;{!strdirectoryVersion}&nbsp;"/> </td>
      
      </tr>
      <tr><td></td>
      </tr>
        </table>    
                    <apex:pageblocktable id="pbidsp" value="{!lstPC}" var="varsp"  border="1">
                            
                            
                             <apex:column width="4">
                                  <apex:facet name="header" > SNo </apex:facet>
                                  <apex:outputText id="Sno" value="&nbsp;{!varsp.Expxlsno}&nbsp;" />   
                            </apex:column>
                            <apex:column >
                                  <apex:facet name="header" > Directory </apex:facet>
                                  <apex:outputText id="Directorycode" value="&nbsp;{!varsp.directorycode}&nbsp;" />   
                            </apex:column>
                             <apex:column >
                                  <apex:facet name="header" > Product Code</apex:facet>
                                  <apex:outputText id="ProductCode" value="&nbsp;{!varsp.Productcode}&nbsp;" />   
                            </apex:column>
                             
                            <apex:column >
                                  <apex:facet name="header" >FULLRATE</apex:facet>
                                  <apex:outputText id="ipNationalFullRate" value="&nbsp;{!varsp.nationalFullRate}&nbsp;" />   
                            </apex:column>
                            <apex:column >
                               <apex:facet name="header" >X05</apex:facet>
                               
                                 <apex:outputtext value="&nbsp;{!varsp.x05}&nbsp;"/>
                            </apex:column>
                            <apex:column >
                                 <apex:facet name="header" >X10</apex:facet>
                                <apex:outputText id="ipX10" value="&nbsp;{!varsp.X10}&nbsp;" />
                            </apex:column>
                            <apex:column >
                                  <apex:facet name="header" >X15</apex:facet>
                                <apex:outputText id="ipX15" value="&nbsp;{!varsp.X15}&nbsp;" />
                            </apex:column>
                            <apex:column >
                                  <apex:facet name="header" >X20</apex:facet>
                                <apex:outputText id="ipX20" value="&nbsp;{!varsp.X20}&nbsp;" />
                            </apex:column>
                            <apex:column >
                                 <apex:facet name="header" >X25</apex:facet>
                                <apex:outputText id="ipX25" value="&nbsp;{!varsp.X25}&nbsp;" />
                            </apex:column>
                            <apex:column >
                                <apex:facet name="header" >X30</apex:facet>
                                <apex:outputText id="ipX30" value="&nbsp;{!varsp.X30}&nbsp;" />
                            </apex:column>
                            <apex:column >
                                 <apex:facet name="header" >X35</apex:facet>
                                <apex:outputText id="ipX35" value="&nbsp;{!varsp.X35}&nbsp;" />
                            </apex:column>
                            <apex:column >
                                <apex:facet name="header" >X40</apex:facet>
                                <apex:outputText id="ipX40" value="&nbsp;{!varsp.X40}&nbsp;" />
                            </apex:column>
                            <apex:column >
                                <apex:facet name="header" >X45</apex:facet>
                                <apex:outputText id="ipX45" value="&nbsp;{!varsp.X45}&nbsp;" />
                            </apex:column>
                            <apex:column >
                                <apex:facet name="header" >X50</apex:facet>
                                <apex:outputLabel id="ipX50" value="&nbsp;{!varsp.X50}&nbsp;"  />
                            </apex:column>
                            <apex:column >
                                <apex:facet name="header" >X55</apex:facet>
                                <apex:outputText id="ipX55" value="&nbsp;{!varsp.X55}&nbsp;" />
                            </apex:column>
                            <apex:column >
                                 <apex:facet name="header" >X60</apex:facet>
                                <apex:outputText id="ipX60" value="&nbsp;{!varsp.X60}&nbsp;" />
                            </apex:column>
                         
                            <apex:column >
                                 <apex:facet name="header" >X65</apex:facet>
                                <apex:outputText id="ipX65" value="&nbsp;{!varsp.X65}&nbsp;" />
                            </apex:column>
                            <apex:column >
                                <apex:facet name="header">X70</apex:facet>
                                <apex:outputText id="ipX70" value="&nbsp;{!varsp.X70}&nbsp;" />
                            </apex:column>
                             <apex:column >
                                <apex:facet name="header">X75</apex:facet>
                                <apex:outputText id="ipX75" value="&nbsp;{!varsp.X75}&nbsp;" />
                            </apex:column>
                            <apex:column >
                                <apex:facet name="header">X80</apex:facet>
                                <apex:outputText id="ipX80" value="&nbsp;{!varsp.X80}&nbsp;" />
                            </apex:column>
                            <apex:column >
                                <apex:facet name="header">X85</apex:facet>
                                <apex:outputText id="ipX85" value="&nbsp;{!varsp.X85}&nbsp;" />
                            </apex:column>
                            <apex:column >
                                <apex:facet name="header">X90</apex:facet>
                                <apex:outputText id="ipX90" value="&nbsp;{!varsp.X90}&nbsp;" />
                            </apex:column>
                            <apex:column >
                                <apex:facet name="header">X95</apex:facet>
                                <apex:outputText id="ipX95" value="&nbsp;{!varsp.X95}&nbsp;" />
                            </apex:column>
                            +
                           
                    </apex:pageblocktable>
                      
            </apex:pageblock>

    
</apex:page>