<apex:component controller="ClientInvoiceValidationController" allowDML="true">
     <apex:pageBlock id="clientVal">
     <apex:pageMessages />
       <apex:pageBlockSection title="Client Invoice Validation" collapsible="false" columns="1">
            <apex:panelGrid columns="2">
               <apex:outputLabel >Publication Company:</apex:outputLabel>
               <apex:inputtext value="{!pubCode}"/>
               <apex:outputLabel >Edition:</apex:outputLabel>
               <apex:panelGroup >
                   <apex:inputtext value="{!editionCode}"/>
                   <apex:commandButton value="Fetch Directories" action="{!fetchDirs}" reRender="clientVal" status="actStatus"/>
               </apex:panelGroup>
               <apex:outputLabel >Directory Name:</apex:outputLabel>
               <apex:panelGroup >
                   <apex:selectList value="{!dirId}" size="1">
                       <apex:selectOptions value="{!dirList}"/>
                   </apex:selectList>
                   <apex:commandButton value="Go" action="{!calculateOrderTotal}" reRender="clientVal" status="actStatus" disabled = "{! NOT(dirList.size > 0)}"/>
               </apex:panelGroup>                                                        
           </apex:panelGrid>
           <apex:panelGrid columns="2" width="70%" rendered="{!displayBool}">
           <apex:outputLink target="_blank" title="E-Billing XML Complete Report" value="/{!eBillingXMLReportId}?pv0={!pubCode}&pv1={!editionCode}&pv2={!selectedDirCode}">E-Billing XML Complete Report</apex:outputLink>
               <apex:outputText ></apex:outputText>
               <apex:outputPanel rendered="{!natInvLinkBool}">
                   <apex:commandLink value="{!strDirName} National Invoices" action="{!showNatInv}" status="actStatus" reRender="invs"/>
               </apex:outputPanel>
               <apex:outputText >Pub Co : {!pubCode}</apex:outputText>
               <apex:outputText ></apex:outputText>
               <apex:outputText >Directory Edition : {!editionCode}</apex:outputText>
               
           </apex:panelGrid>
           <apex:panelGrid columns="2" rendered="{!displayBool}" width="40%">
               <apex:panelGrid Columns="2" border="1" width="95%" columnClasses="cola, colb">
                   <apex:outputLabel >Number of National Orders</apex:outputLabel>
                   <apex:outputLabel >National Order Amount</apex:outputLabel>
                   <apex:outputText value="{!intNationalOSCount}"/>
                   <apex:outputText value="$ {!nationalInvLITotal}"/>
               </apex:panelGrid>
               <apex:commandButton value="Refresh" action="{!refresh}" reRender="clientVal,invs" status="actStatus"/>
               <apex:OutputLabel ></apex:OutputLabel>
               <apex:OutputLabel ></apex:OutputLabel>
               <apex:OutputLabel ></apex:OutputLabel>
               <apex:OutputLabel ></apex:OutputLabel>
               <apex:panelGrid Columns="2" border="1" width="95%" columnClasses="cola, colb">
                   <apex:outputLabel >Number of Order Sets</apex:outputLabel>
                   <apex:outputLabel >Order Line Item Amount</apex:outputLabel>
                   <apex:outputText value="{!intOSCount}"/>
                   <apex:outputText value="$ {!OLITotal}"/>
               </apex:panelGrid>
               <apex:outputText />
               <apex:panelGroup >
                   <apex:inputCheckbox value="{!validateOrdersBool}">       
                       <apex:actionSupport event="onchange" reRender="clientVal" status="actStatus" action="{!enableCreateInv}"/> 
                   </apex:inputCheckbox> 
                   <apex:outputText >&nbsp;&nbsp;Validate Orders</apex:outputText>                          
               </apex:panelGroup>
               <apex:commandButton value="Create National Client Invoice" action="{!createNationalInv}" disabled="{!createInvoiceBool}" reRender="clientVal, invs" status="actStatus"/>
               <apex:panelGroup >
                   <apex:inputCheckbox value="{!createInvoicesBool}"/>       
                   <apex:outputText >&nbsp;&nbsp;Create Invoices</apex:outputText>                          
               </apex:panelGroup>
               <apex:outputLink target="_blank" style="align:right" title="Taxable Order Line Item Report" value="/{!taxNatClientReportId}?pv0={!pubCode}&pv1={!editionCode}&pv2={!selectedDirCode}">Taxable Order Line Item Report</apex:outputLink>
               <apex:panelGroup >
                   <apex:inputCheckbox value="{!validateTaxBool}"/>       
                   <apex:outputText >&nbsp;&nbsp;Validate Tax</apex:outputText>                          
               </apex:panelGroup>
               <apex:outputLink target="_blank" style="align:right" title="Page Number OLI Validation Report" value="/{!pagNumValReportId}?pv0={!pubCode}&pv1={!editionCode}&pv2={!selectedDirCode}">Page Number OLI Validation Report</apex:outputLink>
               <!--<apex:panelGroup >
                   <apex:inputCheckbox value="{!validateCMRBool}"/>       
                   <apex:outputText >&nbsp;&nbsp;Validate ISS to CMR</apex:outputText>                          
               </apex:panelGroup>-->
               <apex:panelGroup >
                   <apex:inputCheckbox value="{!validateHeadersBool}"/>       
                   <apex:outputText >&nbsp;&nbsp;Validate Headers</apex:outputText>                          
               </apex:panelGroup>
               <apex:outputLink target="_blank" style="align:right" title="List of Business report" value="/{!printLOBReportId}?pv0={!pubCode}&pv1={!editionCode}&pv2={!selectedDirCode}">List of Business report</apex:outputLink>                              
               <apex:panelGroup >
                   <apex:inputCheckbox value="{!pageNumberValidationBool}"/>       
                   <apex:outputText >&nbsp;&nbsp;Page Number Validation</apex:outputText>                          
               </apex:panelGroup>
               <apex:outputLink target="_blank" style="align:right" title="Client Invoice Report" value="/{!clInvReportId}?pv0={!pubCode}&pv1={!editionCode}&pv2={!selectedDirCode}">Client Invoice Report</apex:outputLink>
           </apex:panelGrid>
           <apex:outputLabel rendered="{!displayBool}">National Invoice Headers Check (Quantity of Invalid Items)</apex:outputLabel>
           <apex:panelGrid border="1" columns="9" rendered="{!displayBool}">
               <apex:outputLabel >ISS Number</apex:outputLabel>
               <apex:outputLabel >Directory #</apex:outputLabel>
               <apex:outputLabel >Directory Version</apex:outputLabel>
               <apex:outputLabel >State</apex:outputLabel>
               <apex:outputLabel >Directory Name</apex:outputLabel>
               <apex:outputLabel >Pub Date</apex:outputLabel>
               <apex:outputLabel >CMR #</apex:outputLabel>
               <apex:outputLabel >Client #</apex:outputLabel>
               <apex:outputLabel >Client Name</apex:outputLabel>
               <apex:outputText >{!ISSCount}</apex:outputText>
               <apex:outputText >{!dirCount}</apex:outputText>
               <apex:outputText >{!dirVerCount}</apex:outputText>
               <apex:outputText >{!stateCount}</apex:outputText>
               <apex:outputText >{!dirNameCount}</apex:outputText>
               <apex:outputText >{!pubDateCount}</apex:outputText>
               <apex:outputText >{!CMRCount}</apex:outputText>
               <apex:outputText >{!clientCount}</apex:outputText>
               <apex:outputText >{!clientNameCount}</apex:outputText>
           </apex:panelGrid>
       </apex:pageBlockSection>
       <apex:pageBlockButtons location="bottom" rendered="{!displayBool}">
            <apex:commandButton value="Save To Status Table" action="{!updateStatusTable}" status="actStatus" reRender="clientVal"/>
        </apex:pageBlockButtons>
   </apex:pageBlock>
   
    <apex:outputPanel id="invs">
        <apex:outputPanel styleClass="popupBg" layout="block" rendered="{!displayPopUp}">
            <apex:outputPanel styleClass="popup" layout="inline" rendered="{!displayPopUp}">
                <apex:pageblock title="National Invoices" >
                    <apex:pageBlockTable value="{!listNatInvoices}" var="inv" border="1" footerClass="rightAlign">
                        <apex:column >
                            <apex:outputLink target="_blank" value="/{!inv.id}">{!inv.Name}</apex:outputLink>
                            <apex:facet name="footer">Total</apex:facet>
                        </apex:column>
                        <apex:column value="{!inv.CMR_Number_Client_Number__c}" headerClass="colHeadr" headerValue="CMR Number - Client Number"/>
                        <apex:column value="{!inv.TotalGrossAmount__c}" dir="RTL" headerClass="colHeadr">
                            <apex:facet name="footer">
                                <apex:outputText value="${0, number, ###,###,###,##0.00}">
                                    <apex:param value="{!totalInvGrossAmount}" />
                                </apex:outputText>
                            </apex:facet>
                        </apex:column>
                        <apex:column value="{!inv.Tax_Amount_New__c}" dir="RTL" headerClass="colHeadr">
                            <apex:facet name="footer">
                                <apex:outputText value="${0, number, ###,###,###,##0.00}">
                                    <apex:param value="{!totalInvTaxAmount}" />
                                </apex:outputText>
                            </apex:facet>
                        </apex:column>
                        <apex:column value="{!inv.Total_Amount__c}" dir="RTL" headerClass="colHeadr">
                            <apex:facet name="footer">
                            <apex:outputText value="${0, number, ###,###,###,##0.00}">
                                <apex:param value="{!totalInvAmount}" />
                            </apex:outputText>
                            </apex:facet>
                        </apex:column>
                    </apex:pageBlockTable>
                    <apex:pageBlockButtons location="bottom">
                        <apex:commandButton value="Close" action="{!closePopup}" reRender="clientVal,invs" status="actStatus"/>
                    </apex:pageBlockButtons>
                </apex:pageblock>
            </apex:outputPanel>
        </apex:outputPanel>
    </apex:outputPanel>
</apex:component>