<apex:component controller="SendClientInvoiceController" allowDML="true"> 
    <apex:pageBlock id="SendClientInv"> 
    <apex:pageMessages />
        <apex:pageBlockSection title="Send Client Invoice" collapsible="false" columns="1">
             <apex:panelGrid columns="2">
                <apex:outputLabel >Publication Company:</apex:outputLabel>
                <apex:inputtext value="{!pubCode}"/>
                <apex:outputLabel >Edition:</apex:outputLabel>
                <apex:panelGroup >
                    <apex:inputtext value="{!editionCode}"/>
                    <apex:commandButton value="Fetch Directories" action="{!fetchDirs}" reRender="SendClientInv" status="actStatus"/>
                </apex:panelGroup>
                <apex:outputLabel >Directory Name:</apex:outputLabel>
                <apex:panelGroup > 
                    <apex:selectList value="{!dirId}" size="1">
                        <apex:selectOptions value="{!dirList}"/>
                    </apex:selectList>
                    <apex:commandButton value="Go" reRender="SendClientInv" status="actStatus" action="{!calculateTotalForSendInv}"/>
                </apex:panelGroup>                                                        
            </apex:panelGrid>
        </apex:pageBlockSection>
        <apex:pageBlockSection columns="1" rendered="{!displayBool}">
        <apex:panelGrid columns="2" width="70%" rendered="{!displayBool}">
            <apex:commandLink value="{!strDirName} National Invoices" action="{!showNatInv}" status="actStatus" reRender="invs" rendered="{!IF(listNatInvoices.size > 0, true, false)}"/>
        </apex:panelGrid>
        <apex:panelGrid columns="4" border="1">
            <apex:outputLabel >National Invoice Total Amount</apex:outputLabel>
            <apex:outputLabel >Order Line Item Total</apex:outputLabel>
            <apex:outputLabel >Total Taxes Applied</apex:outputLabel>
            <!-- <apex:outputLabel >Total National Commission</apex:outputLabel> -->
            <apex:outputLabel >Total Net Amount</apex:outputLabel>
            <apex:outputText value="$ {!natInvTotForInvSend}"/>
            <apex:outputText value="$ {!OLITotalForInvSend}"/>
            <apex:outputText value="$ {!totalTaxForInvSend}"/>
            <!-- <apex:outputText value="$ {!totalNatCommForInvSend}"/> -->
            <apex:outputText value="$ {!totalNetForInvSend}"/>
        </apex:panelGrid>
        <apex:panelGrid columns="3">
            <apex:panelGrid >
            
            </apex:panelGrid>
            <apex:panelGrid columns="1">
                <apex:panelGroup >
                    <apex:inputCheckbox value="{!balancedBool}">
                        <apex:actionSupport event="onchange" status="actStatus" reRender="SendClientInv"/> 
                    </apex:inputCheckbox>
                    <apex:outputText >Balanced</apex:outputText>
                </apex:panelGroup>
                <apex:panelGroup >
                    <apex:commandButton value="Send To Elite" disabled="{!sendToElitBool}" action="{!sendToElite}" status="actStatus" reRender="SendClientInv"/>                    
                    <apex:outputLink target="_blank" style="align:right" title="SAC Error Report" value="/{!SACRACReportId}">SAC Error Report</apex:outputLink>
                </apex:panelGroup>
                <apex:panelGroup >
                    <apex:inputCheckbox value="{!natInvCompleteBool}"/> 
                    <apex:outputText >National Client Invoice Sent To Elite</apex:outputText>
                </apex:panelGroup>
            </apex:panelGrid>                
        </apex:panelGrid>
        </apex:pageBlockSection>
        <apex:pageBlockButtons location="bottom" rendered="{!displayBool}">
            <apex:commandButton value="Save To Status Table" action="{!updateStatusTable}" status="actStatus" reRender="SendClientInv"/>        	
            <apex:commandButton value="Refresh From Status Table" action="{!calculateTotalForSendInv}" status="actStatus" reRender="SendClientInv"/>
        </apex:pageBlockButtons>
    </apex:pageBlock>
    
    <apex:outputPanel id="invs">
        <apex:outputPanel styleClass="popupBg" layout="block" rendered="{!displayPopUp}">
            <apex:outputPanel styleClass="popup" layout="block" rendered="{!displayPopUp}">
                <apex:pageblock title="National Invoices" >
                    <apex:pageBlockTable value="{!listNatInvoices}" var="inv" border="1" footerClass="rightAlign">
                        <apex:column >
                            <apex:outputLink target="_blank" value="/{!inv.id}">{!inv.Name}</apex:outputLink>
                            <apex:facet name="footer">Total</apex:facet>
                        </apex:column>
                        <apex:column value="{!inv.CMR_Number_Client_Number__c}" headerClass="colHeadr" headerValue="CMR Number - Client Number"/>
                        <apex:column value="{!inv.TotalGrossAmount__c}" dir="RTL" headerClass="colHeadr">
                        	<apex:facet name="footer">
	                        	<apex:outputText value="${0, number, ###,###,###,##0.00}">
								    <apex:param value="{!totalInvGrossAmount}" />
								</apex:outputText>
                        	</apex:facet>
                        </apex:column>
                        <apex:column value="{!inv.Tax_Amount_New__c}" dir="RTL" headerClass="colHeadr">
                        	<apex:facet name="footer">
	                        	<apex:outputText value="${0, number, ###,###,###,##0.00}">
								    <apex:param value="{!totalInvTaxAmount}" />
								</apex:outputText>
                        	</apex:facet>
                        </apex:column>
                        <apex:column value="{!inv.Total_Amount__c}" dir="RTL" headerClass="colHeadr">
                        	<apex:facet name="footer">
                        	<apex:outputText value="${0, number, ###,###,###,##0.00}">
							    <apex:param value="{!totalInvAmount}" />
							</apex:outputText>
                        	</apex:facet>
                        </apex:column>
                    </apex:pageBlockTable>
                    <apex:pageBlockButtons location="bottom">
                        <apex:commandButton value="Close" action="{!closePopup}" reRender="clientVal,invs" status="actStatus"/> 
                    </apex:pageBlockButtons>
                </apex:pageblock>
            </apex:outputPanel>
        </apex:outputPanel>
    </apex:outputPanel>
</apex:component>